html, body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin-bottom: 10px;
}

#imageContainer {
  height: 25vh;           /* image banner height */
  overflow: hidden;      /* crops the image */
}

#locationImage {
  width: 95%;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#map {
  height: 800px;
  width: 100%
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

#result {
  font-size: 18px;
  margin-top: 10px;
  margin: 5px;
}
